@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@

    <main>
        <article style="margin-top: 8px">
            @Body
        </article>
    </main>
</div>